*{
  padding: 0;
  margin: 0;
  box-sizing: border-box!important;
}
:root {
  --bs-font-sans-serif: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif!important;
  --primary-color: #1c242f;
  --secondary-color: #2d394b;
  --third-color: #e6e9f0;
  --forth-color: #181f29;

  line-height: 1.5;
  font-weight: 400!important;
  color-scheme: dark light;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#participant-list::-webkit-scrollbar, #discussion-wrapper::-webkit-scrollbar{
  width: 10px;
  border-radius: 2rem;
  background-color: transparent;
}
#participant-list::-webkit-scrollbar-thumb, #discussion-wrapper::-webkit-scrollbar-thumb{
  border-radius: 2rem;
  background-color: var(--third-color);
}
a {
  color: var(--third-color);
  transition: all .4s ease;
}


body {
  background-color: var(--primary-color);
  color: var(--third-color);
  margin: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
.btn-custom-primary{
  /*reset the styling for button*/
  all: unset;
  padding: 12px 20px;
  background-color: var(--secondary-color);
  border-radius: 0.5rem;
  display: block;
  transition: all .4s ease;
  font-size: 18px;
  height: fit-content;
}
.btn-custom-primary:hover{
  box-shadow: 0 0 3px 3px rgba(255, 255, 255, 0.29);
}

/*loading animation while waiting for the model to load up*/
.loader {
  width: 60px;
  display: flex;
  justify-content: space-evenly;
}
.ball {
  list-style: none;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: var(--third-color);
}
.ball:nth-child(1) {
  animation: bounce 2.1s ease-in-out infinite;
}
.ball:nth-child(2) {
  animation: bounce 2.1s ease-in-out 0.3s infinite;
}
.ball:nth-child(3) {
  animation: bounce 2.1s ease-in-out 0.6s infinite;
}
@keyframes bounce {
  50% {
    transform: translateY(-90px);
    scale: 0.3;
  }
}
/*send button for discussion*/
#btn-send {
  background: var(--bs-primary);
  padding: 20px;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 0.375rem;
  transition: all .2s ease-in-out;
}

#btn-send:hover {
  border-radius: 50%;
  transition: all .2s ease-in-out;
}

#btn-send:hover:before {
  margin-left: 0%;
  transform: rotate(24deg);
}

#btn-send::before {
  content: "";
  background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyB3aWR0aD0iNzUycHQiIGhlaWdodD0iNzUycHQiIHZlcnNpb249IjEuMSIgdmlld0JveD0iMCAwIDc1MiA3NTIiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CiA8cGF0aCBkPSJtNTczLjE4IDE5OC42MnYwbC0zOTYuMDkgNjMuNzE5Yy03Ljc1IDAuODU5MzgtOS40NzI3IDExLjE5NS0zLjQ0NTMgMTUuNWw5Ny4zMDEgNjguODgzLTE1LjUgMTEyLjhjLTAuODU5MzggNy43NSA3Ljc1IDEyLjkxNCAxMy43NzcgNy43NWw1NS4xMDktNDQuNzczIDI2LjY5MSAxMjQuODVjMS43MjI3IDcuNzUgMTEuMTk1IDkuNDcyNyAxNS41IDIuNTgybDIxNS4yNy0zMzguMzljMy40NDE0LTYuMDI3My0xLjcyNjYtMTMuNzc3LTguNjEzMy0xMi45MTR6bS0zNzIuODQgNzYuNjMzIDMxMy40Mi00OS45NDEtMjMzLjM0IDEwNy42M3ptNzQuMDUxIDE2NS4zMiAxMi45MTQtOTIuMTMzYzgwLjkzOC0zNy4wMjcgMTM5LjQ5LTY0LjU3OCAyMjkuMDQtMTA1LjkxLTEuNzE4OCAxLjcyMjctMC44NTkzNyAwLjg1OTM4LTI0MS45NSAxOTguMDR6bTg4LjY4OCA4Mi42Ni0yNC4xMDktMTEyLjggMTk5Ljc3LTE2Mi43NHoiIGZpbGw9IiNmZmYiLz4KPC9zdmc+Cg==");
  height: 38px;
  background-repeat: no-repeat;
  position: absolute;
  width: 38px;
  transition: all .6s ease-in-out;
  background-size: 100%;
}

/*fade*/
.fade-enter-active, .fade-leave-active{
  transition: all .4s ease;
}
.fade-enter-from, .fade-leave-to{
  opacity: 0;
}

